<title>{{title}}</title>
<div class="divGeneral">
  <div class="generalBusqueda">
    <div id="logo" class="divLogo">
      <h1>Control de ventas</h1>
    </div>
    <!--<div id="busqueda" class="divBusqueda">-->
      <!--<input class="inputBusqueda form-control" placeholder="Buscar producto...">-->
      <!--<button class="boton-busqueda">-->
        <!--<i class="fa fa-search"></i>-->
      <!--</button>-->
    <!--</div>-->
  </div>
</div>
<nav class="navbar-expand-lg navbar-light bg-secondary">
  <div class="navbarPersonal bg-secondary" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/producto">Registro de Productos<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/tipo-producto">Tipos de Producto<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/stock">Stock<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/ventas">Ventas<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Resumen Ingresos vs Gastos<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
