.divGeneral{
  padding-right: 21vw;
  width: 100%;
  background: #34495E;
  height: 100%;
  position: fixed;
}

.divSpan{
  margin-top: 25vh;
  text-align: center;
}

span {
  color: white;
  font-family: Verdana;
  font-weight: bold;
  font-size: 80px;
}
