<app-header></app-header>
<div class="row list">
  <div class="div1" >
    <div class="div2">
      <a class="nav-link" href="/"><i class="fas fa-home"></i></a>
      <a class="nav-link" href="/tipo-producto">Tipos de Producto<span class="sr-only">(current)</span></a>
      <a class="nav-link" href="/producto">Productos<span class="sr-only">(current)</span></a>
      <a class="nav-link" href="/compra">Compras<span class="sr-only">(current)</span></a>
      <a class="nav-link" href="/venta">Ventas<span class="sr-only">(current)</span></a>
    </div>
  </div>
  <div >
    <router-outlet></router-outlet>
  </div>
</div>
