.list {
  width: 100%;
  grid-template-columns: 12% 88%;
  display: grid;
  position: fixed;
}

.div1{
  overflow-y: auto;
  height: 90vh;
  background: #151515;

}

.div1 a{
  color: white;
  font-family: Verdana;
}

.div2{
  margin-left: 13px;
}

.iconsPersonalizado{
  margin-left: 10px;
}

.div2 a:hover{
  background: gray;
  cursor: pointer;
}

.list ul{
  list-style: none;
}

.list ul{
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.list ul:hover{
  background: #303030;
}

.input-normal-disabled:disabled{
  background-color: #fff;
  color: #495057;
}
