<div class="divGeneral">
  <div class="divTable">
    <div class="divTitulo">
      <span>Productos</span>
    </div>
    <p>
      <button type="button" class="btn btn-dark" (click)="collapse.toggle()" [attr.aria-expanded]="!this.filtroCerrado"
              aria-controls="collapseExample">
        Filtros
      </button>
    </p>
    <!--FILTROS-->
    <div #collapse="ngbCollapse" [(ngbCollapse)]="this.filtroCerrado">
      <div class="text-white">
        <form [formGroup]="formFiltros" (submit)="filtrar(collapse)">
          <div class="modal-body">
            <div class="form-group col-sm-6" style="margin: 0 auto;">
              <label>Id</label>
              <div class="input-group" >
                <input type="text" class="form-control" maxlength="10" size="10" width="100" formControlName="id" (keyup)="removeLetters('id', 10, formFiltros)">
              </div>
              <label>Código</label>
              <div class="input-group" >
                <input type="text" class="form-control" maxlength="20" formControlName="codigo" (blur)="limpiarControls('codigo', formFiltros)">
              </div>
              <label>Nombre</label>
              <div class="input-group" >
                <input type="text" class="form-control" maxlength="50" formControlName="nombre" (blur)="limpiarControls('nombre', formFiltros)">
              </div>
            </div>
          </div>
          <div class="divFooter">
            <div style="float: right; right: 50%; position: relative;">
              <div style="float: right; right: -50%; position: relative;">
                <button type="submit" class="btn btn-light" ><i class="fas fa-search"></i></button>
                <button type="button" (click)="limpiarFiltros()" class="btn btn-danger" ><i class="fas fa-times"></i></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div>
      <button class="btn botonAgregarGeneral" (click)="modal(content, 1, null)"><i class="fas fa-file"></i></button>
      <!--GRID PRINCIPAL-->
      <div class="divTableCustom">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Código</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Tipo de Producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Fecha de Vencimiento</th>
            <th scope="col"></th>
            <th scope="col">Acciones</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let producto of productos; let i = index;" [class.tdPar]="(i+1) % 2 !== 0" [class.tdImpar]="(i+1) % 2 === 0">
            <td>{{producto.id}}</td>
            <td><span>{{producto.codigo}}</span></td>
            <td><span>{{producto.nombre}}</span></td>
            <td><span>{{producto.descripcion}}</span></td>
            <td><span>{{producto.tipoProducto.nombre}}</span></td>
            <td><span>{{'Q ' + (producto.precio | number : '1.2-2')}}</span></td>
            <td><span>{{(producto.fechaVencimiento | date : 'dd/MM/yyyy')}}</span></td>
            <td><img width="200" height="150" style="background: white" src="{{producto.imagenStr}}"></td>
            <td>
              <button (click)="modal(content, 3, producto)"><i class="fas fa-search"></i></button>
              <button (click)="modal(content, 2, producto)"><i class="fas fa-pen"></i></button>
              <button (click)="modalEliminar(contentEliminar, producto)"><i class="fas fa-trash"></i></button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="divPagination1" *ngIf="pagination.collectionSize > 0">
      <div class="divPagination2">
        <ngb-pagination class="ngbPaginationClass"
                        [(page)]="pagination.page"
                        (pageChange)="changePage($event-1)"
                        [maxSize]="pagination.maxSize"
                        [pageSize]="pagination.pageSize"
                        [collectionSize]="pagination.collectionSize"></ngb-pagination>
      </div>
    </div>
    <div class="divPagination3">
      <div class="divPagination4">
        <span>Registros por página: {{pagination.pageSize}}  </span>
        <div ngbDropdown placement="top-left" class="d-inline-block">
          <button class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle>
          </button>
          <div ngbDropdownMenu class="bg-dark divPageSize" aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem class="text-white text-center" (click)="changeSize(5)">5</button>
            <button ngbDropdownItem class="text-white text-center" (click)="changeSize(10)">10</button>
            <button ngbDropdownItem class="text-white text-center" (click)="changeSize(20)">20</button>
            <button ngbDropdownItem class="text-white text-center" (click)="changeSize(50)">50</button>
            <button ngbDropdownItem class="text-white text-center" (click)="changeSize(100)">100</button>
          </div>
        </div>
        <span>Total de registros: {{pagination.collectionSize}}</span>
      </div>
    </div>
  </div>

</div>

<!--MODAL FORM ALTA, EDITAR, VER-->
<ng-template #content let-modal >
  <div class="modal-header badge-dark">
    <h4 class="modal-title" id="modal-basic-title">{{nombreAccion}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <ngb-alert type="{{type}}" *ngIf="mostrarMensaje" [dismissible]="false">{{mensaje}}</ngb-alert>
  <form [formGroup]="form" (submit)="guardar()">
    <div class="modal-body">
      <div class="form-group">
        <div *ngIf="this.modo !== 1">
          <label>Id</label>
          <div class="input-group" >
            <input type="text" class="form-control" maxlength="10" formControlName="id" >
          </div>
        </div>

        <label>{{(this.modo === 1 || modo === 2) ? 'Nombre' + '*' : 'Nombre' }}</label>
        <div class="input-group" >
          <input id="inputName" type="text" class="form-control" formControlName="nombre" (blur)="limpiarControls('nombre', form)">
        </div>

        <label>{{(this.modo === 1 || modo === 2) ? 'Código' + '*' : 'Código' }}</label>
        <div class="input-group" >
          <input type="text" class="form-control" formControlName="codigo" (blur)="limpiarControls('codigo', form)">
        </div>

        <label>{{(this.modo === 1 || modo === 2) ? 'Descripción' + '*' : 'Descripción'}}</label>
        <div class="input-group" >
          <textarea rows="4" type="text" class="form-control" maxlength="200" formControlName="descripcion" (blur)="limpiarControls('descripcion', form)"></textarea>
        </div>

        <label>{{(this.modo === 1 || modo === 2) ? 'Precio' + '*' : 'Precio' }}</label>
        <div class="input-group" >
          <input type="text" class="form-control" formControlName="precio" (blur)="removeLettersDecimals('precio', 10, 2, form)" >
        </div>

        <label>{{(this.modo === 1 || modo === 2) ? 'Tipo de Producto' + '*' : 'Tipo de Producto' }}</label>
        <div class="input-group" >
          <select class="form-control" aria-label="Default select example" formControlName="tipoProducto">
            <option *ngFor="let tipoProducto of lstTipoProducto" [value]="tipoProducto.id">{{tipoProducto.nombre}}</option>
          </select>
        </div>
        <label>{{(this.modo === 1 || modo === 2) ? 'Fecha de Vencimiento' + '*' : 'Fecha de Vencimiento' }}</label>
        <div class="input-group" >
          <input *ngIf="modo !== 3" type="text" class="form-control input-date" formControlName="fVencimiento">
          <input *ngIf="modo === 3" type="text" class="form-control" formControlName="fVencimiento">
          <button *ngIf="modo !== 3" class="btn-calendar btn btn-sm" type="button" (click)="modalDatePicker(contentDatePicker)" >
            <i class="fa fa-calendar-alt"></i>
          </button>
        </div>
        <label>{{(this.modo === 1 || modo === 2) ? 'Imagen' + '*' : 'Imagen'}}</label>
        <div class="input-group" >
          <input *ngIf="modo !== 3" type="file" class="form-control-file btn" id="imagen" (change)="cargaArchivo($event && $event.target ? $event.target: null, $event)" />
          <img *ngIf="mostrarImagen" id="imagenProducto"  width="450" height="250" style="margin-top: 5px;" >
        </div>
      </div>
    </div>
    <div class="modal-footer divFooter">
      <button type="button" (click)="modal.close()" class="btn btn-danger" [disabled]="deshabilitarBotones"><i class="fas fa-times"></i></button>
      <button type="submit" class="btn btn-success" [disabled]="this.form.invalid || deshabilitarBotones || (this.form.controls['fVencimiento'].value ==='')" *ngIf="modo !== 3 && modo !== 4"><i class="fas fa-check"></i></button>
    </div>
  </form>

</ng-template>


<!--MODAL ELIMINAR-->
<ng-template #contentEliminar let-modal>
  <div class="modal-header badge-dark">
    <h4 class="modal-title" id="modal-basic-title-delete">Eliminar</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <ngb-alert type="{{type}}" *ngIf="mostrarMensaje" [dismissible]="false">{{mensaje}}</ngb-alert>
  <form [formGroup]="form" (submit)="eliminar()">
    <div class="modal-body">
      <div class="form-group divMensajeEliminar">
        <span>Confirmar eliminar el registro: {{this.form.controls.id.value}} - {{this.form.controls.nombre.value}}</span>
      </div>
    </div>
    <div class="modal-footer divFooter">
      <button type="button" (click)="modal.close()" class="btn btn-danger" [disabled]="deshabilitarBotones"><i class="fas fa-times"></i></button>
      <button type="submit" class="btn btn-success" [disabled]="deshabilitarBotones"><i class="fas fa-check"></i></button>
    </div>
  </form>

</ng-template>

<ng-template #contentDatePicker let-modal>
  <div style="margin: 0 auto;">
    <form [formGroup]="form">
      <ngb-datepicker #d (dateSelect)="onDateSelect($event, 'fVencimiento', form)"></ngb-datepicker>
    </form>
  </div>
</ng-template>
